/* Global Styles */
* {
    background-color: rgba(124, 80, 59, 0.918);
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

div {
    text-align: center;
}

p {
    color: white;
}

/* Title and Section */
.title {
    font-size: 40px;
    font-weight: 500;
}

.section {
    font-size: 30px;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: blanchedalmond;
    width: 100%;
}

.header .sur {
    background-color: transparent;
    color: black;
    margin-right: 45%;
    font-size: medium;
    font-weight: 1000;
}

button {
    width: 100px;
    height: 50px;
    background-color: rgb(250, 205, 138);
    border: none;
    float: right;
    cursor: pointer;
}

/* Profile Image */
#Profile {
    align-items: flex-start;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    max-width: 30%;
    height: auto;
}

/* Images */
.image {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    max-width: 10%;
    height: auto;
    margin: 10px;
}

/* Contact Images */
.contact-image {
    border-radius: 10px;
    max-width: 5%;
}

/* Text */
p {
    color: white;
}
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
